# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.ThirdPersonMP.iml
/projectSettingsUpdater.xml
/contentModel.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
